<nav class="navbar">
  <div class="logo" routerLink="/">
    ⚔️ <span>Echoes of Steel</span>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" routerLinkActiveOptions="{exact: true}">Početna</a></li>
    <li><a routerLink="/shop" routerLinkActive="active">Prodavnica</a></li>
    <li><a routerLink="/edu" routerLinkActive="active">Istorijski Kutak</a></li>
    <li><a routerLink="/auth" class="auth-btn" routerLinkActive="active">Prijavi se</a></li>
  </ul>
</nav>